nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: #fff;
    /* overflow: hidden; */
    width: 100vw;
    background-color: rgb(187, 19, 19);
}

.nav-container {
    width: 100vw;
    max-width: 1000px;
    margin: auto;
}

.logo-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.logo {
    width: 150px;
    height: 150px;
}

.menu-btn {
    position: absolute;
    font-size: 40px;
    bottom: 0;
    left: 10vw;
    padding: 0;
    border: none;
    background: none;
}

.nav-links-container{
    width: 100vw;
}

.nav-links {
    width: 100%;
    padding: 30px 0 30px 0;
    margin: 0;
    list-style: none;
    background-color: rgb(187, 19, 19);
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
}

.hide-nav{
    position: absolute;
    right: -80vw;
    transition: 0.7s;
    display: none;
}

.nav-link {
    width: 100%;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    text-align: center;
}

.nav-link a {
    text-decoration: none;
    color: #fff;
}

@media screen and (min-width: 500px){
    .menu-btn{
        display: none;
    }

    .nav-links-container{
        max-width: 1000px;
        margin: auto;
        background-color: rgb(187, 19, 19);
    }

    .nav-links{
        padding: 10px 0;
        width: 100%;
        position: relative;
        flex-direction: row;
        height: auto;
    }

    .nav-link{
        
    }
}